<md-toolbar class="md-tall" layout="row" layout-align="start center">
    <div class="md-toolbar-tools">
        <h2>
          <span>Cardiomed</span>
        </h2>
        <span flex></span>
        <md-button ng-controller="dashboardCtrl" class="md-icon-button" ng-click="toggle()" aria-label="Close">
            <md-icon md-svg-icon="icons/menu.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar layout="row" layout-align="start center">
        <div class="md-toolbar-tools">
            <md-button ng-controller="dashboardCtrl" class="md-icon-button" ng-click="toggle()" aria-label="Close">
                <md-icon md-svg-icon="icons/menu.svg"></md-icon>
            </md-button>
            <h2>
          <span>Menu</span>
        </h2>
        </div>
    </md-toolbar>
    <md-content>
        <md-list ng-controller="dashboardCtrl">
           <md-list-item ng-click="state('dashboard.intro')">
                Home
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="state('dashboard.posts')" ng-if="me.admin || me.posts">
                Posts
            </md-list-item>
            <md-list-item ng-click="state('dashboard.photos')" ng-if="me.admin || me.posts || me.main">
                Photos
            </md-list-item>
            <md-list-item ng-click="state('dashboard.users')" ng-if="me.admin">
                Users
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-controller="usersCtrl">
                <md-button class="md-warn" flex ng-click="logout()">Logout</md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
<ui-view></ui-view>