<md-subheader>
    <h1>Users</h1>
    <md-button ng-click="add()" class="md-primary">Add</md-button>
    <md-button ng-click="hide()" ng-show="showForm">Hide</md-button>
</md-subheader>
<md-content>
    <md-content layout="column" layout-padding layout-gt-md="row">
        <section flex>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="user in users" ng-click="edit(user)">
                    <img ng-if="!user.photo" ng-src="http://www.placehold.it/300x300" class="md-avatar" />
                    <img ng-if="user.photo" ng-src="{{user.photo}}" class="md-avatar" />
                    <div class="md-list-item-text">
                        <h3>{{user.lastName}}, {{user.firstName}}</h3>
                        <h4>Username: {{user.username}}</h4>
                        <p>{{user.email}}</p>
                    </div>
                    <md-icon md-svg-icon="icons/menu.svg" ng-click="delete($event, user)" class="md-secondary"></md-icon>
                </md-list-item>
            </md-list>
        </section>
        <section flex ng-show="showForm">
            <md-content layout="column" layout-align="space-around center" layout-padding>
                <md-button>
                    <label for="file-input" flex>Upload photo</label>
                    <md-tooltip>
                        Please use aspect ratio 1:1
                    </md-tooltip>
                </md-button>
                <input type="file" id="file-input" ng-model="newUser.photo" ng-file accept="image/png,image/jpeg" ng-format="image/png" ng-max-width="300" ng-max-height="300" style="display:none;" />
                <center>
                    <img ng-hide="newUser.photo" ng-src="http://www.placehold.it/300x300" style="width:100px; height:100px; border-radius:50px;" />
                    <img ng-show="newUser.photo" ng-src="{{newUser.photo}}" style="width:100px; height:100px; border-radius:50px;" />
                </center>
                <br>
                <form ng-submit="save()" style="min-width:100%;">
                    <md-input-container flex>
                        <label>Username</label>
                        <input type="text" ng-model="newUser.username" autocomplete="off">
                    </md-input-container>
                    <md-input-container>
                        <label>First name</label>
                        <input type="text" ng-model="newUser.firstName" autocomplete="off">
                    </md-input-container>
                    <md-input-container>
                        <label>Last name</label>
                        <input type="text" ng-model="newUser.lastName" autocomplete="off">
                    </md-input-container>
                    <md-input-container>
                        <label>Email</label>
                        <input type="email" ng-model="newUser.email" autocomplete="off">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" ng-model="newUser.password" autocomplete="off">
                    </md-input-container>
                    <md-container layout="row">
                        <md-container layout="column" layout-align="space-around start" flex="50">
                            <h3>Roles</h3>
                            <md-switch ng-model="newUser.admin" ng-change="isAdmin()" class="md-primary">
                                Administrator
                            </md-switch>
                            <md-switch ng-model="newUser.main" ng-change="verifyAdmin(newUser.main)" class="md-primary">
                                Main content
                            </md-switch>
                            <md-switch ng-model="newUser.posts" ng-change="verifyAdmin(newUser.posts)" class="md-primary">
                                Publications
                            </md-switch>
                            <md-switch ng-model="newUser.polls" ng-change="verifyAdmin(newUser.polls)" class="md-primary">
                                Polls
                            </md-switch>
                        </md-container>
                        <md-container flex="50">
                            <md-button type="submit" class="md-primary md-raised">Save</md-button>
                        </md-container>
                    </md-container>
                </form>
            </md-content>
        </section>
    </md-content>
</md-content>