<md-content layout="column" layout-align="center center" style="min-height:100%; min-width:100%; height: 100%; background-repeat: no-repeat; background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));">
    <md-card layout style="padding:40px; width:30%; min-width:300px;">
        <form ng-submit="login()">
            <h3>Cardiomed</h3>
            <md-input-container flex>
                <label>Username</label>
                <input ng-model="newUser.username" type="text" autofocus>
            </md-input-container>
            <md-input-container flex>
                <label>Password</label>
                <input type="password" ng-model="newUser.password">
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit">Login</md-button>
            <md-button class="md-raised" type="button" ng-click="reset()">Reset</md-button>
        </form>
    </md-card>
</md-content>