<md-sidenav class="md-sidenav-left md-whiteframe-z5" md-component-id="left">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Posts</h1>
    </md-toolbar>
    <md-content>
        <md-input-container>
            <label>Search</label>
            <input type="text" ng-model="searchPosts" ng-model-options="{ debounce: 500 }">
        </md-input-container>
        <md-list>
            <p layout-padding ng-hide="posts.length" aria-label="No posts">
                No posts.
            </p>
            <md-list-item ng-show="posts" ng-repeat="post in posts | orderBy:'-created' | filter: searchPosts" aria-label="Show post" ng-click="show(post)">{{post.title}}
                <md-icon md-svg-icon="icons/fi-trash.svg" aria-label="Delete post" ng-click="delete($event, post)" class="md-secondary"></md-icon>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="toggle()" class="md-warn">
                Close
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
<md-content layout="row" layout-align="space-between center" layout-padding>
    <md-button class="md-fab md-accent" ng-click="toggle()" aria-label="Show list of posts">
        <md-icon md-svg-src="icons/fi-list.svg" style="width:20px; height:20px;"></md-icon>
    </md-button>
    <md-button class="md-raised md-accent md-hue-1" ng-hide="showComments" type="button" ng-click="revealComments()" ng-disabled="!newPost.id">Show comments</md-button>
    <md-button class="md-raised md-accent md-hue-1" ng-show="showComments" type="button" ng-click="hideComments()" ng-disabled="!newPost.id">Hide comments</md-button>
</md-content>
<md-content layout="column" layout-gt-md="row" layout-padding>
    <md-content layout="column" flex>
        <h3>Markdown</h3>
        <form ng-submit="save()">
            <md-input-container>
                <label>Title</label>
                <input type="text" ng-model="newPost.title" ng-change="slugify()" ng-disabled="newPost.creator !== me.id && !me.admin && newPost.id">
            </md-input-container>
            <md-input-container>
                <label>Slug</label>
                <input type="text" ng-model="newPost.slug" disabled>
            </md-input-container>
            <md-input-container>
                <label>Content</label>
                <textarea name="" id="" cols="30" rows="10" ng-model="newPost.content" ng-disabled="newPost.creator !== me.id && !me.admin && newPost.id"></textarea>
            </md-input-container>
            <md-chips ng-model="newPost.tags" placeholder="Add more..." secondary-placeholder="Tags" readonly="newPost.creator !== me.id && !me.admin && newPost.id"></md-chips>
            <md-input-container>
                <label>Public description - ({{160 - newSetting.description.length}})</label>
                <textarea ng-model="newPost.description" cols="30" rows="4" ng-maxlength="160"></textarea>
            </md-input-container>
            <md-checkbox ng-model="newPost.static" ng-disabled="newPost.creator !== me.id && !me.admin && newPost.id">Static</md-checkbox>
            <md-button class="md-primary md-raised" type="submit">Submit</md-button>
            <md-button class="md-raised" type="button" ng-click="reset()">Cancel</md-button>
        </form>
    </md-content>
    <md-content layout="column" flex ng-hide="showComments">
        <h3>Preview</h3>
        <h1>{{newPost.title}}</h1>
        <h6 ng-if="newPost.title && !newPost.id && !me.socialAccount">{{me.lastName}}, {{me.firstName}}</h6>
        <h6 ng-if="newPost.title && !newPost.id && me.socialAccount">{{me.profile.displayName}} - {{me.socialAccount}}</h6>
        <h6 ng-if="newPost.title && newPost.id && !newPost.user.socialAccount">{{newPost.user.lastName}}, {{newPost.user.firstName}}</h6>
        <h6 ng-if="newPost.title && newPost.id && newPost.user.socialAccount">{{newPost.user.profile.displayName}} - {{newPost.user.socialAccount}}</h6>
        <center>
            <md-content layout="column" marked="newPost.content"></md-content>
        </center>
        <span flex></span>
        <md-button ng-if="newPost.slug" ng-href="/#/posts/{{newPost.slug}}">/posts/{{newPost.slug}}</md-button>
    </md-content>
    <md-content layout="column" ng-show="showComments" flex>
        <h3>Comments</h3>
        <md-content layout="column" layout-padding>
           <md-input-container>
            <label>Search</label>
            <input type="text" ng-model="searchComments" ng-model-options="{ debounce: 500 }">
           </md-input-container>
            <md-list>
                <md-list-item ng-repeat="comment in comments | filter: searchComments" class="md-3-line" ng-click="allow($event, comment)" aria-label="Allow posting on main page">
                    <img ng-if="comment.user.photo" ng-src="{{comment.user.photo}}" class="md-avatar" alt="{{comment.user.firstName}}">
                    <img ng-if="comment.user.socialAccount && comment.user.socialAccount == 'facebook'" ng-src="https://graph.facebook.com/{{comment.user.profile.id}}/picture?width=300&height=300" class="md-avatar" />
                    <img ng-if="comment.user.socialAccount && comment.user.socialAccount == 'google'" ng-src="{{comment.user.profile._json.picture}}" class="md-avatar" />
                    <img ng-if="comment.user.socialAccount && comment.user.socialAccount == 'twitter'" ng-src="{{comment.user.profile._json.profile_image_url_https}}" class="md-avatar" />
                    <img ng-if="!comment.user.photo && !comment.user.socialAccount" ng-src="http://www.placehold.it/300" class="md-avatar" alt="{{comment.user.firstName}}">
                    <div class="md-list-item-text" ng-if="!comment.user.socialAccount">
                        <h3>{{comment.comment}}</h3>
                        <h4>{{comment.user.firstName}} {{comment.user.firstName}} - {{comment.user.email}}</h4>
                        <p ng-if="comment.allow">
                            Allowed.
                        </p>
                        <p ng-if="!comment.allow">
                            Not allowed.
                        </p>
                    </div>
                    <div class="md-list-item-text" ng-if="comment.user.socialAccount">
                        <h3>{{comment.comment}}</h3>
                        <h4>{{comment.user.profile.displayName}}</h4>
                        <p ng-if="comment.allow">
                            Allowed.
                        </p>
                        <p ng-if="!comment.allow">
                            Not allowed.
                        </p>
                    </div>
                    <md-icon md-svg-icon="icons/fi-trash.svg" aria-label="Delete comment" ng-click="deleteComment($event, comment)" class="md-secondary"></md-icon>
                </md-list-item>
                <md-list-item>
                    <md-input-container flex>
                        <label>Comment</label>
                        <textarea name="" id="" cols="30" rows="5" ng-model="newComment.comment"></textarea>
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="addComment()">Add</md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-content>
</md-content>
<style>
    img {
        max-width: 100%;
    }
</style>