<md-button class="md-fab" ng-disabled="progress">
    <label for="upload_photo" style="display:block;">
        <md-icon md-svg-icon="icons/menu.svg"></md-icon>
    </label>
</md-button>
<md-content layout="row" layout-padding>
    <input type="file" ng-disabled="progress" id="upload_photo" ngf-change="upload(newPhotos)" ngf-select ng-model="newPhotos" ngf-multiple="true" accept="image/*" ngf-capture="'camera'" style="display:none;">
    <md-progress-linear ng-show="progress" md-mode="determinate" value="{{progress}}"></md-progress-linear>
</md-content>
<md-content flex layout-padding>
    <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile ng-click="open(photo)" ng-repeat="photo in photos" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-gutter="2em" md-gutter-gt-sm="1em" ng-style="{'background-image' : 'url(/upload/' + photo.filename + ')'}" style="background-size: cover;">
            <md-grid-tile-footer ng-click="delete($event, photo)">
                <h3>Added: {{photo.creationDate | date: 'dd/MM/yyyy'}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>